In [1]:
# -*- coding: utf-8 -*-
"""
Created on Tue Dec 10 23:11:47 2019

@author: jinxi
"""
#%% requests 패키지 GET 방식 사용 예제
import requests

r = requests.get('https://api.github.com/events')

payload = { 'key1' : 'value1', 'key2' : 'value2' }
r = requests.get('https://httpbin.org/get', params = payload)
r.status_code
r.url

'https://httpbin.org/get?key1=value1&key2=value2'

In [2]:
#%% requests GET방식 예시2

naver_data = dict(
        sm='top_hty',
        fbm=1,
        ie='utf8',
        query='퀀트'
)

r = requests.get('https://search.naver.com/search.naver', params = naver_data)
r.url

'https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=%ED%80%80%ED%8A%B8'

In [4]:
#%% header 값을 임의로 수정하여 GET 메소드 호출할 때 함꼐 전달하기

header = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/2010101 Firefox/66.0'}
url = 'http://www.useragentstring.com/'

r = requests.get(url, headers = header)

r

# requests의 리턴값인 Response 객체의 메소드 알아보기
# r.request : 요청 정보 가진 객체
# r.url : 요청한 url 문자열
# r.cookie : cookie 정보 가진 객체
# r.headers : dict 형식의 응답 헤더
# r.status_code : 응답의 http 상태코드
# r.ok : 상태코드가 정상이면 True, 비정상이면 False
# r.text : 응답 본문값을 문자열로 출력
# r.json() : 응답 본문을 JSON 형식으로 출력하여 dict형식으로 반환
#%% requests POST방식

In [5]:
import requests

payload = { 'key1' : 'value1', 'key2' : 'value2' }

r = requests.post("https://httpbin.org/post", data = payload)
print(r.text)

{
  "args": {},
  "data": "",
  "files": {},
  "form": {
    "key1": "value1",
    "key2": "value2"
  },
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Content-Length": "23",
    "Content-Type": "application/x-www-form-urlencoded",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.22.0"
  },
  "json": null,
  "origin": "122.202.203.140, 122.202.203.140",
  "url": "https://httpbin.org/post"
}

In [7]:
#%% 세션 개념 : 서버에 상주하도록..

s = requests.Session()
s.headers.update({'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/2010101 Firefox/66.0'})

# 헤더를 변경해놓고 세선 상주하기
r = s.get('http://naver.com')
r = s.get('http://daum.net')

In [ ]:
#%% Session 메소드를 with와 함께 사용하기
with requests.Session() as s:
    s.headers.update({'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/2010101 Firefox/66.0'})
    
    r = s.get('http://naver.com')
    r = s.get('http://daum.net')

In [ ]:
#%% 파일 위치
import os
os.getcwd()

In [8]:
#%% bs4사용 예
from bs4 import BeautifulSoup

html_doc = """
<html><head><title>IT IS TITLE</title></head>
<body><p class="title"><b>The...</b></p>
<a href="naver.com">Naver.com</a>
</body></html>
"""
soup = BeautifulSoup(html_doc, 'html.parser')

print(soup.prettify())

<html>
 <head>
  <title>
   IT IS TITLE
  </title>
 </head>
 <body>
  <p class="title">
   <b>
    The...
   </b>
  </p>
  <a href="naver.com">
   Naver.com
  </a>
 </body>
</html>

In [10]:
#%% title 태그의 정보 출력
soup.title

In [12]:
#%% title 태그의 이름 출력
soup.title.name

'title'

In [11]:
#%% title 태그가 가진 내용 출력
soup.title.string

'IT IS TITLE'

In [13]:
#%% p 태그의 정보 출력
soup.p

In [14]:
#%% p 태그가 가진 class를 출력
soup.p['class']

['title']

In [15]:
#%% a 태그의 정보 출력
soup.a

In [ ]:
#%% 문서상의 모든 a를 탐색
soup.find_all('a')

In [ ]:
#%% id가 link3라는 것만 출력
soup.find(id='link3')

In [ ]:
# class속성 검색을 원할 경우 : find(class_ = '클래스이름')  _는 기존의 class와의 충돌 피하기위해..
# find('요소이름', attr={'속성이름':'값'}) 과같이 지정하면 조건 세밀하게 할수도..
# parameter 형식
#   name = None, attrs={}, recursive = True, text = None, **kwargs
#   요소이름을 검색조건으로
#   요소 속성이름과 값을 검색조건으로. 사전형으로 작성
#   false 지정하면 바로 아래 자식 요소만 대상이..
#   text - 요소의 내용(시작태그와 종료태그 사이의 텍스트)를 검색 조건으로 한다

# find_all 메소드의 경우는 limit 인수도 있음
# limit : 지정한 수만큼 요소가 발견되면 검색을 종료한다

# find를 써서 tag 객체를 반환한다

In [16]:
#%% Tag 객체의 리스트를 순회하며 get메서드를 사용하며 해당 키에 맞는 값 출력하기
for link in soup.find_all('a'):
    print (link.get('href'))

naver.com

In [17]:
#%% request를 이용한 크롤링 예
import requests
import pandas as pd

url = "https://finance.naver.com/item/sise_day.nhn?code=005930&page=6"

result = pd.read_html(url)
result

[            날짜       종가     전일비       시가       고가       저가         거래량
 0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 1   2019.10.17  50500.0   200.0  50500.0  50600.0  50100.0   6701380.0
 2   2019.10.16  50700.0   600.0  50700.0  50900.0  50400.0   9136282.0
 3   2019.10.15  50100.0   100.0  49900.0  50200.0  49900.0   6058105.0
 4   2019.10.14  50000.0   850.0  50000.0  50300.0  49850.0  11130635.0
 5   2019.10.11  49150.0   600.0  49000.0  49450.0  48800.0   7783275.0
 6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 9   2019.10.10  48550.0   350.0  48200.0  49200.0  48000.0  18639855.0
 10  2019.10.08  48900.0  1150.0  47900.0  49000.0  47600.0  14239367.0
 11  2019.10.07  47750.0   250.0  48350.0  48700.0  47650.0   7047273.0
 12  2019.10.04  48000.0   400.0  47400.0  48650.0  47350.0   9331695.0
 13  2019.10.02  47600.0  1250.0  48350.0  48400.0  47600.0   8382463.0
 14         NaN      NaN     NaN      NaN      NaN      NaN         NaN,
    0   1   2   3   4   5   6   7   8   9   10  11  12
 0  맨앞   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]

In [20]:
result[0]

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2019.10.17  50500.0   200.0  50500.0  50600.0  50100.0   6701380.0
2   2019.10.16  50700.0   600.0  50700.0  50900.0  50400.0   9136282.0
3   2019.10.15  50100.0   100.0  49900.0  50200.0  49900.0   6058105.0
4   2019.10.14  50000.0   850.0  50000.0  50300.0  49850.0  11130635.0
5   2019.10.11  49150.0   600.0  49000.0  49450.0  48800.0   7783275.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2019.10.10  48550.0   350.0  48200.0  49200.0  48000.0  18639855.0
10  2019.10.08  48900.0  1150.0  47900.0  49000.0  47600.0  14239367.0
11  2019.10.07  47750.0   250.0  48350.0  48700.0  47650.0   7047273.0
12  2019.10.04  48000.0   400.0  47400.0  48650.0  47350.0   9331695.0
13  2019.10.02  47600.0  1250.0  48350.0  48400.0  47600.0   8382463.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [21]:
stock = result[0].dropna()
stock

            날짜       종가     전일비       시가       고가       저가         거래량
1   2019.10.17  50500.0   200.0  50500.0  50600.0  50100.0   6701380.0
2   2019.10.16  50700.0   600.0  50700.0  50900.0  50400.0   9136282.0
3   2019.10.15  50100.0   100.0  49900.0  50200.0  49900.0   6058105.0
4   2019.10.14  50000.0   850.0  50000.0  50300.0  49850.0  11130635.0
5   2019.10.11  49150.0   600.0  49000.0  49450.0  48800.0   7783275.0
9   2019.10.10  48550.0   350.0  48200.0  49200.0  48000.0  18639855.0
10  2019.10.08  48900.0  1150.0  47900.0  49000.0  47600.0  14239367.0
11  2019.10.07  47750.0   250.0  48350.0  48700.0  47650.0   7047273.0
12  2019.10.04  48000.0   400.0  47400.0  48650.0  47350.0   9331695.0
13  2019.10.02  47600.0  1250.0  48350.0  48400.0  47600.0   8382463.0

In [ ]:
#%% Selenium 메소드의 기능

# 웹 페이지의 DOM 정보를 바탕으로 선택자를 선택할 수 있
#   find_element_by_id() : id값을 사용하여 위치 찾기
#   find_element_by_css_selector() : css요소의 표기 방법으로 된 위치를 찾
#   find_element_by_xpath() : xml의 특정 요소로 지정된 위치를 찾

# 선택자 함수 사용하면 브라우저에 해당 항목을 선택한 것처럼 됨
# 선택자 함수들의 click(), send_key() 메소드를 가지고 있,
#   get() : 특정 사이트로 이동도..
#   click() : 선택자 함수로 선택된 곳을 실제로 클릭
#   clear() : 선택된 곳에 타이핑 된 내용을 삭제
#   implicitly_wait() : 브라우저에서 웹페이지 요소들이 로딩될 수 있도록 특정시간 기다려주는..
#   send_key() : 선택자 함수로 선택된 곳에 키보드로 타이핑하는 것처럼 데이터 전송
#   page_source : drive가 보고 있는 웹 데이터를 가지고 있는 문자열 변수
#%% selenium : JS가 있는 사이트에서 데이터 가저오기 위함
from selenium import webdriver

driver = webdriver.Chrome('C:/chromedriver/chromedriver.exe')

In [ ]:
#%% selenium 예제
from selenium import webdriver
from bs4 import BeautifulSoup
url = "https://fastcampus.co.kr"
driver = webdriver.Chrome('C:/chromedriver/chromedriver.exe')
driver.get(url) # get:특정 사이트로 이동할 수 있도록 드라이버에게 요청

In [ ]:
#%%
# XPath는 XML의 특정 요소를 지정할 때 사용
# CSS 선택자는 CSS로 요소를 디자인 할 때 사용하는 표기 방법
# CSS 선택자가 보기 편하고 간편하다

#css선택자
#theme-page > div:nth-child(9) > div > div.theme-content.no-padding > div:nth-child(1) > div > div:nth-child(3) > div:nth-child(1) > div > div > div > figure > a > img
#Xpath
//*[@id="theme-page"]/div[9]/div/div[1]/div[1]/div/div[3]/div[1]/div/div/div/figure/a/img

In [ ]:
#%% selenium이 클릭하도록
driver.find_element_by_xpath(//*[@id="theme-page"]/div[9]/div/div[1]/div[1]/div/div[3]/div[1]/div/div/div/figure/a/img).click()

In [ ]:
#%% 
driver.page_source # 셀레니엄이 이동한 최종 html 페이지의 코드

In [ ]:
#%% 이거 파싱하려면
bs = BeautifulSoup(driver.page_source, "lxml")

In [ ]:
#%% 팬텀js 기본
from selenium import webdriver
driver = webdriver.PhantomJS('C:/phantomjs-2.1.1-windows/bin/phantomjs.exe')

# Pandas 기능 중 read_html 메소드 알아보기

In [22]:
# 웹페이지 상의 table형태 데이터를 읽어 dataframe 형식으로 저장
# 크롬 예) F12누르고 네트워크 탭 선택 , 로그 유지 체크
# html 혹은 document로 되어있는 정보 확인할 수 있
# 확인된 document를 우클릭해서 주소 복사

import pandas as pd

url = "https://finance.naver.com/sise/sise_index_day.nhn?code=KOSPI&page=1"
pd_result = pd.read_html(url)
pd_result[0]

            날짜      체결가    전일비     등락률   거래량(천주)   거래대금(백만)
0          NaN      NaN    NaN     NaN       NaN        NaN
1   2019.12.27  2204.21   6.28  +0.29%  490167.0  5429665.0
2   2019.12.26  2197.93   7.85  +0.36%  571309.0  4795109.0
3   2019.12.24  2190.08  13.63  -0.62%  569967.0  4756454.0
4          NaN      NaN    NaN     NaN       NaN        NaN
5          NaN      NaN    NaN     NaN       NaN        NaN
6          NaN      NaN    NaN     NaN       NaN        NaN
7          NaN      NaN    NaN     NaN       NaN        NaN
8   2019.12.23  2203.71   0.47  -0.02%  502034.0  4734276.0
9   2019.12.20  2204.18   7.62  +0.35%  646682.0  5020842.0
10  2019.12.19  2196.56   1.80  +0.08%  643143.0  5262211.0
11         NaN      NaN    NaN     NaN       NaN        NaN
12         NaN      NaN    NaN     NaN       NaN        NaN

In [23]:
#%% 뽑은 데이터에서 결측치 제거해보자
pd_result[0].dropna()

            날짜      체결가    전일비     등락률   거래량(천주)   거래대금(백만)
1   2019.12.27  2204.21   6.28  +0.29%  490167.0  5429665.0
2   2019.12.26  2197.93   7.85  +0.36%  571309.0  4795109.0
3   2019.12.24  2190.08  13.63  -0.62%  569967.0  4756454.0
8   2019.12.23  2203.71   0.47  -0.02%  502034.0  4734276.0
9   2019.12.20  2204.18   7.62  +0.35%  646682.0  5020842.0
10  2019.12.19  2196.56   1.80  +0.08%  643143.0  5262211.0

# 파이썬으로 사이트 인증하여 로그인하기

In [ ]:
import requests

# 로그인 정보를 dict 형태로 전달합니다
payload = dict(
        user_id='ta6464',
        password='ta6464'
)

header = {
        'Referer' : 'https://www.ppomppu.co.kr/zboard/login.php',
        'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/2010101 Firefox/66.0'
}

URL = 'https://www.ppomppu.co.kr/zboard/login_check.php?/'

# with 구문으로 context를 실행
# with 구문이 종료가 되면 자동으로 세션도 종료가 됨

with requests.Session() as s:
    rt = s.post(URL, data = payload, headers = header)
    
    r = s.get('http://www.ppomppu.co.kr/zboard/zboard.php?id=market', headers = header)
    
    # 접속 정보 출력
    print(r.text)

# Pandas Data Frame

In [24]:
#%% Pandas Data Frame

stock_dict = [{'날짜':'2019-05-07',
               '종목':'삼성전자',
               '시가':'45,250',
               '종가':'44,850'},
              {'날짜':'2019-05-07',
               '종목':'LG전자',
               '시가':'75,200',
               '종가':'77,000'},
              {'날짜':'2019-05-07',
               '종목':'SK텔레콤',
               '시가':'254,500'},
              {'날짜':'2019-05-07',
               '종목':'SK하이닉스',
               '시가':'79,200',
               '종가':'79,900'}]
data = pd.DataFrame(stock_dict, columns = ['날짜','종목','시가','종가'])
data

           날짜      종목       시가      종가
0  2019-05-07    삼성전자   45,250  44,850
1  2019-05-07    LG전자   75,200  77,000
2  2019-05-07   SK텔레콤  254,500     NaN
3  2019-05-07  SK하이닉스   79,200  79,900

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
날짜    4 non-null object
종목    4 non-null object
시가    4 non-null object
종가    3 non-null object
dtypes: object(4)
memory usage: 208.0+ bytes

In [26]:
#%% 데이터프레임 결측치 처리
data.dropna() # 결측치 행 제외

           날짜      종목      시가      종가
0  2019-05-07    삼성전자  45,250  44,850
1  2019-05-07    LG전자  75,200  77,000
3  2019-05-07  SK하이닉스  79,200  79,900

In [27]:
data.fillna(0) # 결측치 대체

           날짜      종목       시가      종가
0  2019-05-07    삼성전자   45,250  44,850
1  2019-05-07    LG전자   75,200  77,000
2  2019-05-07   SK텔레콤  254,500       0
3  2019-05-07  SK하이닉스   79,200  79,900

In [28]:
#%% 이건 시계열에서 주로 쓰임
data.fillna(method='ffill') #전위 값으로 대체

           날짜      종목       시가      종가
0  2019-05-07    삼성전자   45,250  44,850
1  2019-05-07    LG전자   75,200  77,000
2  2019-05-07   SK텔레콤  254,500  77,000
3  2019-05-07  SK하이닉스   79,200  79,900

In [29]:
#%%
data.fillna(method='bfill') #후위 값으로 대체

           날짜      종목       시가      종가
0  2019-05-07    삼성전자   45,250  44,850
1  2019-05-07    LG전자   75,200  77,000
2  2019-05-07   SK텔레콤  254,500  79,900
3  2019-05-07  SK하이닉스   79,200  79,900

In [30]:
#%%
# apply 특정함수를 특정 데이터 컬럼에 적용..

data2 = data.copy()
# 카피함수 없이 주면 복사가 아니라 참조가 된다...
# 그러니 하나 더 만드려면 카피함수 써서 '깊은복사'를.

data2.dropna(inplace=True)
data2
# dropna해도 데이터 셋에 적용 안됨 그때뿐임 ㅋ
# 그래서 inplace = True하면 실제로 데이터셋에 반영됨

           날짜      종목      시가      종가
0  2019-05-07    삼성전자  45,250  44,850
1  2019-05-07    LG전자  75,200  77,000
3  2019-05-07  SK하이닉스  79,200  79,900

In [31]:
#%% 시가 컬럼 내부의 문자열을 조회하여 콜론을 없애고 정수화 하는 작업
data2['시가'].apply(lambda x : int(x.replace(",","")))
# 하지만 data2 자체가 변한게 없다

0    45250
1    75200
3    79200
Name: 시가, dtype: int64

In [32]:
#%%
data2['시가'] = data2['시가'].apply(lambda x: int(x.replace(",","")))  # 시가 컬럼내용 콜론없애기
data2.info()

#info로 확인하면 시가의 data type이 int64로 바뀐걸 알수있음

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 3
Data columns (total 4 columns):
날짜    3 non-null object
종목    3 non-null object
시가    3 non-null int64
종가    3 non-null object
dtypes: int64(1), object(3)
memory usage: 120.0+ bytes

In [33]:
#%% 여러 컬럼의 콜론 없애기
data3 = data.copy()
data3.dropna(inplace=True)
data3[['시가','종가']] = data3[['시가','종가']].applymap(lambda x : int(x.replace(",","")))
data3.info()
# applymap : apply 여러개 적용시키고플떄..

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 3
Data columns (total 4 columns):
날짜    3 non-null object
종목    3 non-null object
시가    3 non-null int64
종가    3 non-null int64
dtypes: int64(2), object(2)
memory usage: 120.0+ bytes

In [34]:
#%% 날짜데이터 변환

# astype() : 형변환
# to_datetime() : 문자열->날짜객체로..

data3['날짜'] = pd.to_datetime( data3['날짜'], format='%Y-%m-%d %H:%M:%S')

data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 3
Data columns (total 4 columns):
날짜    3 non-null datetime64[ns]
종목    3 non-null object
시가    3 non-null int64
종가    3 non-null int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 120.0+ bytes

In [35]:
#%% 32비트 int로 변경하기
data3['종가'] = data3['종가'].astype('int32')
data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 3
Data columns (total 4 columns):
날짜    3 non-null datetime64[ns]
종목    3 non-null object
시가    3 non-null int64
종가    3 non-null int32
dtypes: datetime64[ns](1), int32(1), int64(1), object(1)
memory usage: 108.0+ bytes

# CSV 파일

In [39]:
# 크롤링 결과를 csv 파일로 저장하는 법 2방법
# 1 : 단순하게 open() 을 사용하여 ,로 구분자 넣고 텍스트파일에 저장
# 2 : pandas의 dataframe 형식으로 변환하여 to_csv 메소드 사용

# get 방식에 사용될 url 주소
url = 'http://finance.daum.net/api/market_index/days?page=1&perPage=10&market=KOSPI&pagination=true'

# 헤더 정보 설정 수정

header = {'Accept' : 'application/json, text/javascript, */*; q=0.01',
         'Referer' : 'http://finance.daum.net/domestic/kospi',
         'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.88 Safari/537.36',
         'X-Requested-With' : 'XMLHttpRequest'}

r = requests.get(url,headers = header)

In [41]:
import json
# loads 함수를 이용하여 문자열 객체를 dict 로 변환
json_r = json.loads(r.text)
# dict의 keys값을 출력
print(json_r.keys())
print(json_r['data'])

dict_keys(['data', 'totalPages', 'currentPage', 'pageSize'])
[{'date': '2019-12-27 00:00:00', 'tradePrice': 2204.21, 'change': 'RISE', 'changePrice': 6.28, 'accTradeVolume': 490167, 'accTradePrice': 5429665, 'individualStraightPurchasePrice': 192509617780, 'foreignStraightPurchasePrice': 64174016528, 'institutionStraightPurchasePrice': -279035235598}, {'date': '2019-12-26 00:00:00', 'tradePrice': 2197.93, 'change': 'RISE', 'changePrice': 7.85, 'accTradeVolume': 571309, 'accTradePrice': 4795109, 'individualStraightPurchasePrice': -467323867609, 'foreignStraightPurchasePrice': -40140907947, 'institutionStraightPurchasePrice': 460475860338}, {'date': '2019-12-24 00:00:00', 'tradePrice': 2190.08, 'change': 'FALL', 'changePrice': 13.63, 'accTradeVolume': 569967, 'accTradePrice': 4756454, 'individualStraightPurchasePrice': -108132106245, 'foreignStraightPurchasePrice': -166986286315, 'institutionStraightPurchasePrice': 258380732062}, {'date': '2019-12-23 00:00:00', 'tradePrice': 2203.71, 'change': 'FALL', 'changePrice': 0.47, 'accTradeVolume': 502034, 'accTradePrice': 4734276, 'individualStraightPurchasePrice': -321881133688, 'foreignStraightPurchasePrice': -48941342493, 'institutionStraightPurchasePrice': 354513842375}, {'date': '2019-12-20 00:00:00', 'tradePrice': 2204.18, 'change': 'RISE', 'changePrice': 7.62, 'accTradeVolume': 646682, 'accTradePrice': 5020842, 'individualStraightPurchasePrice': -322100984363, 'foreignStraightPurchasePrice': 155795011754, 'institutionStraightPurchasePrice': 138946531255}, {'date': '2019-12-19 00:00:00', 'tradePrice': 2196.56, 'change': 'RISE', 'changePrice': 1.8, 'accTradeVolume': 643143, 'accTradePrice': 5262211, 'individualStraightPurchasePrice': -163966770006, 'foreignStraightPurchasePrice': 249140767820, 'institutionStraightPurchasePrice': -108299101250}, {'date': '2019-12-18 00:00:00', 'tradePrice': 2194.76, 'change': 'FALL', 'changePrice': 0.92, 'accTradeVolume': 591106, 'accTradePrice': 5519070, 'individualStraightPurchasePrice': -55997786452, 'foreignStraightPurchasePrice': 383323629368, 'institutionStraightPurchasePrice': -335847364879}, {'date': '2019-12-17 00:00:00', 'tradePrice': 2195.68, 'change': 'RISE', 'changePrice': 27.53, 'accTradeVolume': 599534, 'accTradePrice': 6380891, 'individualStraightPurchasePrice': -529187713228, 'foreignStraightPurchasePrice': 513414323996, 'institutionStraightPurchasePrice': 11604645050}, {'date': '2019-12-16 00:00:00', 'tradePrice': 2168.15, 'change': 'FALL', 'changePrice': 2.1, 'accTradeVolume': 377053, 'accTradePrice': 4561208, 'individualStraightPurchasePrice': -214873317383, 'foreignStraightPurchasePrice': -191411993552, 'institutionStraightPurchasePrice': 378053168610}, {'date': '2019-12-13 00:00:00', 'tradePrice': 2170.25, 'change': 'RISE', 'changePrice': 32.9, 'accTradeVolume': 540027, 'accTradePrice': 6253215, 'individualStraightPurchasePrice': -989159288330, 'foreignStraightPurchasePrice': 513911365518, 'institutionStraightPurchasePrice': 479693826189}]

In [45]:
# 1번 방법

for content in json_r['data']:
    print(",".join([str(x) for x in list(content.values())]))

2019-12-27 00:00:00,2204.21,RISE,6.28,490167,5429665,192509617780,64174016528,-279035235598
2019-12-26 00:00:00,2197.93,RISE,7.85,571309,4795109,-467323867609,-40140907947,460475860338
2019-12-24 00:00:00,2190.08,FALL,13.63,569967,4756454,-108132106245,-166986286315,258380732062
2019-12-23 00:00:00,2203.71,FALL,0.47,502034,4734276,-321881133688,-48941342493,354513842375
2019-12-20 00:00:00,2204.18,RISE,7.62,646682,5020842,-322100984363,155795011754,138946531255
2019-12-19 00:00:00,2196.56,RISE,1.8,643143,5262211,-163966770006,249140767820,-108299101250
2019-12-18 00:00:00,2194.76,FALL,0.92,591106,5519070,-55997786452,383323629368,-335847364879
2019-12-17 00:00:00,2195.68,RISE,27.53,599534,6380891,-529187713228,513414323996,11604645050
2019-12-16 00:00:00,2168.15,FALL,2.1,377053,4561208,-214873317383,-191411993552,378053168610
2019-12-13 00:00:00,2170.25,RISE,32.9,540027,6253215,-989159288330,513911365518,479693826189

In [47]:
with open("./daum_kospi.csv", 'w', encoding = 'utf-8-sig') as f:
    f.write(",".join(list(content.keys())) + "\n")
    for content in json_r['data']:
        f.write(",".join( [ str(x) for x in list( content.values() ) ] ) + "\n")

In [ ]:
# 2번 방법 : 실질적으로는 이걸 많이 씀 왜? 편하니까
import pandas as pd
pd.DataFrame(json_r['data']).to_csv("./daum_kospi.csv", index = False)# index 번호 매기기는 필요없으면 False해

In [54]:
# 1번 방법 中 숫자에 컴마 들어간거 처리법

url = "https://finance.naver.com/marketindex/exchangeList.nhn"

r = requests.get(url)
bs = BeautifulSoup(r.text , 'html.parser')

with open("exchange_rate.csv", "w", encoding='utf-8-sig') as f:
    for idx, cont in enumerate(bs.findAll("tr")):
        if(idx>1):
            bs2 = cont.findAll("td")
            for cont2 in bs2:
                f.write(cont2.text.strip() + ",") # strip은 양쪽 공백없애기
            f.write("\n")

In [56]:
# 이상하게 안들어가게 처리해주자
# csv 모듈 사용하기

import csv

with open("exchange_rate_csv_module.csv", "w", encoding='utf-8-sig', newline='') as f:
    filewrite = csv.writer(f, delimiter=",")
    for idx, cont in enumerate(bs.findAll("tr")):
        if(idx>1):
            bs2 = cont.findAll("td")
            total_txt = list()
            for cont2 in bs2:
                total_txt.append(cont2.text.strip())
            filewrite.writerow(total_txt)

In [57]:
# CSV 모듈을 사용하여 데이터 읽기

with open("./exchange_rate_csv_module.csv", "r", encoding = 'utf-8-sig') as f:
    filereader = csv.reader(f, delimiter=',')
    for content in filereader:
        print(content)

['미국 USD', '1,160.50', '1,180.80', '1,140.20', '1,171.80', '1,149.20', '1.000']
['유럽연합 EUR', '1,293.90', '1,319.64', '1,268.16', '1,306.83', '1,280.97', '1.115']
['일본 JPY (100엔)', '1,060.06', '1,078.61', '1,041.51', '1,070.44', '1,049.68', '0.914']
['중국 CNY', '165.93', '174.22', '157.64', '167.58', '164.28', '0.143']
['홍콩 HKD', '149.04', '151.97', '146.11', '150.53', '147.55', '0.128']
['대만 TWD', '38.52', '43.56', '35.83', '0.00', '0.00', '0.033']
['영국 GBP', '1,516.66', '1,546.53', '1,486.79', '1,531.82', '1,501.50', '1.307']
['오만 OMR', '3,018.21', '3,286.83', '2,837.12', '0.00', '0.00', '2.601']
['캐나다 CAD', '886.52', '903.98', '869.06', '895.38', '877.66', '0.764']
['스위스 CHF', '1,188.67', '1,212.08', '1,165.26', '1,200.55', '1,176.79', '1.024']
['스웨덴 SEK', '123.85', '126.88', '120.82', '125.08', '122.62', '0.107']
['호주 AUD', '808.69', '824.62', '792.76', '816.77', '800.61', '0.697']
['뉴질랜드 NZD', '777.01', '792.31', '761.71', '784.78', '769.24', '0.670']
['체코 CZK', '50.71', '55.02', '46.15', '51.26', '50.16', '0.044']
['칠레 CLP', '1.56', '1.68', '1.44', '0.00', '0.00', '0.001']
['터키 TRY', '194.90', '0.00', '0.00', '197.04', '192.76', '0.168']
['몽골 MNT', '0.43', '0.00', '0.00', '0.00', '0.00', '0.000']
['이스라엘 ILS', '334.67', '368.13', '307.90', '0.00', '0.00', '0.288']
['덴마크 DKK', '173.27', '177.51', '169.03', '175.00', '171.54', '0.149']
['노르웨이 NOK', '130.90', '134.10', '127.70', '132.20', '129.60', '0.113']
['사우디아라비아 SAR', '309.30', '328.78', '287.96', '312.39', '306.21', '0.267']
['쿠웨이트 KWD', '3,825.24', '4,073.88', '3,519.23', '3,863.49', '3,786.99', '3.296']
['바레인 BHD', '3,077.92', '3,274.90', '2,831.69', '3,108.69', '3,047.15', '2.652']
['아랍에미리트 AED', '315.94', '333.31', '294.15', '319.09', '312.79', '0.272']
['요르단 JOD', '1,636.24', '1,781.86', '1,505.35', '0.00', '0.00', '1.410']
['이집트 EGP', '72.36', '0.00', '0.00', '0.00', '0.00', '0.062']
['태국 THB', '38.48', '40.40', '36.18', '38.86', '38.10', '0.033']
['싱가포르 SGD', '858.04', '875.11', '840.97', '866.62', '849.46', '0.739']
['말레이시아 MYR', '281.16', '298.87', '260.36', '0.00', '278.35', '0.242']
['인도네시아 IDR 100', '8.34', '8.92', '7.51', '8.42', '8.26', '0.007']
['카타르 QAR', '318.73', '0.00', '0.00', '0.00', '0.00', '0.275']
['카자흐스탄 KZT', '3.05', '0.00', '0.00', '0.00', '0.00', '0.003']
['브루나이 BND', '858.04', '892.36', '806.56', '0.00', '0.00', '0.739']
['인도 INR', '16.26', '0.00', '0.00', '0.00', '0.00', '0.014']
['파키스탄 PKR', '7.49', '0.00', '0.00', '0.00', '0.00', '0.007']
['방글라데시 BDT', '13.66', '0.00', '0.00', '0.00', '0.00', '0.012']
['필리핀 PHP', '22.88', '25.16', '21.01', '23.10', '22.66', '0.020']
['멕시코 MXN', '61.35', '67.48', '56.20', '61.96', '60.74', '0.053']
['브라질 BRL', '286.08', '315.26', '263.20', '0.00', '282.65', '0.247']
['베트남 VND 100', '5.01', '5.60', '4.42', '5.06', '4.96', '0.004']
['남아프리카 공화국 ZAR', '82.95', '87.92', '76.32', '83.94', '81.96', '0.072']
['러시아 RUB', '18.73', '20.04', '16.67', '18.91', '18.55', '0.016']
['헝가리 HUF', '3.91', '4.27', '3.60', '3.95', '3.87', '0.003']
['폴란드 PLN', '303.09', '327.33', '278.85', '306.42', '299.76', '0.261']

In [ ]:
# 파일을 엑셀에 저장하는 방법

# xlwt : 95-2003버전 xls 쓰기 라이브러리
# xlrd : 95-2003버전 xls 읽기 라이브러리
# xlsxwriter : 2007이상버전 지원하는 엑셀 라이브러리
# openpyxl : 2010 버전의 xlsx / xlsm / xltx / xltm 파일 라이브러리

# xlsxwriter 사용법
# Workbook() : 엑셀 파일 생성 함수
# add_worksheet() : 새로운 sheet를 추가하는 함수
# add_format() : 엑셀 서식을 설정하는 함수
# write() : 엑셀에 데이터를 기록하는 함수

In [63]:
import os, csv, xlsxwriter

total = []

with open("./exchange_rate_csv_module.csv", "r", encoding = "utf-8-sig") as f:
    filereader = csv.reader(f,delimiter=',')
    for content in filereader :
        total.append(content)

# Sheet 이름을 정한다        
worksheet = workbook.add_worksheet('환율정보')

# 컬럼의 넓이를 정할 수 있다
worksheet.set_column('A:F', 20)

# Cell의 스타일을 지정할 수 있다.
bold = workbook.add_format({'bold' : True})

for idx1, x1 in enumerate(total):
    for idx2, x2 in enumerate(x1):
        # write() 메소드는 실제 엑셀 파일에 기록하는 메소드이며,
        # idx1, idx2번째 위치에 x2의 값을 bold 처리
        worksheet.write(idx1, idx2, x2, bold)
        
# 파일을 닫는다
workbook.close()

NameError: name 'workbook' is not defined

In [ ]:
#%%
import os
import sys
import urllib.request
client_id = "YOUR_CLIENT_ID"
client_secret = "YOUR_CLIENT_SECRET"
url = "https://openapi.naver.com/v1/datalab/search";
body = "{\"startDate\":\"2017-01-01\",\"endDate\":\"2017-04-30\",\"timeUnit\":\"month\",\"keywordGroups\":[{\"groupName\":\"한글\",\"keywords\":[\"한글\",\"korean\"]},{\"groupName\":\"영어\",\"keywords\":[\"영어\",\"english\"]}],\"device\":\"pc\",\"ages\":[\"1\",\"2\"],\"gender\":\"f\"}";

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
else:
    print("Error Code:" + rescode)