# list
* list는 원소를 주어진 순서대로 보관하는 데이터 유형입니다. 
* 다양항 원소가 저장 및 혼합될 수 있습니다.
* list는 시퀀스형 자료형이며, iterable 특성을 가지고 있습니다.

* stock이라는 리스트 변수에 삼성전자, 엘지전자, SK하이닉스를 저장하겠습니다.

In [1]:
stock = ['삼성전자', '엘지전자', 'SK하이닉스']

* 리스트는 시퀀스형 자료형입니다.
* 인덱스 번호를 통한 접근이 가능합니다.
* 인덱스 0 : 삼성전자, 1 : 엘지전자, 2 : SK하이닉스 
* 인덱스의 번호는 0부터 시작합니다.

In [2]:
print (stock[1])

엘지전자

In [3]:
stock[1] = '현대자동차'

In [4]:
print (stock[1])

현대자동차

* for문을 사용해서 출력을 해보겠습니다.

In [5]:
for x in stock:
    print (x)

삼성전자
현대자동차
SK하이닉스

* 마지막부터 순차적으로 출력해 보겠습니다.

In [6]:
for x in stock[::-1]:
    print (x)

SK하이닉스
현대자동차
삼성전자

* append() 메소드를 사용하여 데이터를 추가합니다.(단일 데이터)

In [7]:
stock.append('gs')

In [8]:
stock

['삼성전자', '현대자동차', 'SK하이닉스', 'gs']

* del() 함수를 사용하여 데이터를 삭제하겠습니다.

In [9]:
del stock[3]

In [10]:
stock

['삼성전자', '현대자동차', 'SK하이닉스']

* extend() 메소드를 사용하여 데이터를 추가합니다.

In [11]:
stock.extend(['롯데제과', '신세계'])

In [12]:
stock

['삼성전자', '현대자동차', 'SK하이닉스', '롯데제과', '신세계']

In [13]:
stock.insert(2, '엘지전자')

In [14]:
stock

['삼성전자', '현대자동차', '엘지전자', 'SK하이닉스', '롯데제과', '신세계']

* slicing을 사용하여 데이터를 접근하겠습니다.

In [15]:
stock[1:3]

['현대자동차', '엘지전자']

In [16]:
stock[:2]

['삼성전자', '현대자동차']

In [17]:
stock[::2]

['삼성전자', '엘지전자', '롯데제과']

* index() 함수를 사용하여 데이터를 찾아보겠습니다.

In [18]:
stock.index('엘지전자')

2

* 해당 list에 값이 없다면 에러를 출력합니다.

In [19]:
stock.index("한화")

ValueError: '한화' is not in list

* 중첩 list를 만들어보겠습니다.

In [20]:
stock2 = [['삼성전자', '삼성화재', '삼성생명'], ['엘지전자', '엘지화학'], ['SK하이닉스', 'SK에너지']]

In [21]:
stock2[0][1]

'삼성화재'

* sort() 메서드 사용하기

In [22]:
L = ['123', '34', '56', '23456']

In [23]:
L

['123', '34', '56', '23456']

In [24]:
L.sort()

In [25]:
L

['123', '23456', '34', '56']

In [26]:
L.sort(key=int)

In [27]:
L

['34', '56', '123', '23456']

In [28]:
L.sort(reverse=True)

In [29]:
L

['56', '34', '23456', '123']

In [30]:
L.sort(reverse=True, key=int)

In [31]:
L

['23456', '123', '56', '34']

## list comprehension
* 많이 사용되는 문법으로 코드를 간결하게 쓸 수 있습니다.

In [32]:
compre_1 = list()
for x in range(0,10):
    compre_1.append(x**2)

In [33]:
compre_1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
compre_2 = [x**2 for x in range(0,10)]

In [35]:
compre_2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

* list comprehension에 if 조건문 넣기

In [36]:
tmp = [k for k in range(0,30) if k % 2 == 0]

In [37]:
tmp

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

* 이중, 삼중 그 이상도 list comprehension이 가능합니다.

In [38]:
[x * y for x in range(2,10) for y in range(1,10) if x % 2 == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72]

## 문제

* 문제 1 : 앞에서 만든 윤년을 list comprehension 방식으로 저장해 봅시다.



* 문제 2 : 문자열 메소드중에 split() 메소드는 결과값을 list으로 반환합니다. 
    > 문자열의 join() 메소드는 list의 데이터를 하나의 문자열로 만들어 줍니다.  
    > 위 2가지 특성을 활용하여 다음 문제를 풀어보겠습니다.

In [39]:
str_text = '''first line
second line
third line'''

* 앞서 여러 줄 문자열을 다음과 같이 출력합니다.
      first line:second line:third line	

*   앞서 여러 줄 문자열에서 두 번째 줄 첫 번째 단어를 second 출력 


* 단어 사이를 : 문자로 연결하여 다음과 같이 출력
      first:line:second:line:third:line

# tuple
* tuple은 list처럼 생겼지만 한번 값이 생성되면 변경되지 않습니다. 
* 불변 리스트라고 기억하세요.

In [40]:
days_of_the_week = ('일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일')

* 아래는 오류가 발생할 것입니다. 아시다시피.... 불변이니까..

In [42]:
days_of_the_week[0] = '이번주 일요일'

TypeError: 'tuple' object does not support item assignment

## 패킹과 언패킹
* 아래 값을 t 변수에 입력할 수 있습니다. 이를 패킹이라고 합니다.
* 패킹된 데이터는 tuple 형식으로 저장됩니다.

In [50]:
t = 1,2, "Hello"

In [51]:
t

(1, 2, 'Hello')

* 반대로 패킹된 데이터를 언패킹할 수 있습니다. 대신 개수는 동일해야 합니다.
* 아니면 오류가 발생됩니다.

In [52]:
x, y = t

ValueError: too many values to unpack (expected 2)

In [53]:
x, y, z = t

In [54]:
x

1

In [55]:
y

2

In [56]:
z

'Hello'

* 서로 다른 데이터도 패킹할 수 있습니다.

In [57]:
t2 = 1,2,3,4,5,6, 'test1', 'test2'

In [58]:
t2

(1, 2, 3, 4, 5, 6, 'test1', 'test2')

* 언패킹할 때 *를 사용해서 나머지 데이터를 한번에 몰아서 저장할 수있습니다. 
* *가 붙어 있으면 최종으로 나머지를 다 할당합니다.

In [61]:
# a2, a3, a4가 먼저 할당되고... a1은 나머지
*a1, a2, a3, a4 = t2

In [62]:
a1

[1, 2, 3, 4, 5]

In [63]:
# a3, a4가 먼저 할당되고  a1과 *a2 남아 있는 상태에서 a1를 다시 할당하고 남은 데이터를 a2에 할당합니다.
a1, *a2, a3, a4 = t2

In [64]:
a2

[2, 3, 4, 5, 6]

In [65]:
# a1, a2, a3를 먼저 할당하고 나머지를 a4에 할당합니다.
a1, a2, a3, *a4 = t2

In [66]:
a4

[4, 5, 6, 'test1', 'test2']

* list도 언패킹은 지원됩니다.

In [67]:
test = [1,2,3]

In [68]:
a, b, c = test

In [69]:
a

1

In [70]:
b

2

In [71]:
c

3

In [72]:
stock3 = [['삼성전자', '45300'], ['엘지전자', '73900']]

In [73]:
# 이중 리스트의 원소들이 다시 name, money에 언패킹되어 출력이 됩니다.
for name, money in stock3:
    print (name, money)

삼성전자 45300
엘지전자 73900

* 튜플과 리스트의 메모리 차이
    > 튜플과 리스트의 차이는 변경 안된다, 또 하나 메모리 사용량이 다릅니다.

In [74]:
tuple_name = ('삼성전자', '엘지전자', '삼성SDS')  
list_name = ['삼성전자', '엘지전자', '삼성SDS']  
print(tuple_name.__sizeof__())  
print(list_name.__sizeof__())

48
64