# dict(사전)
* 사전은 key와 value로 구성된 데이터 유형입니다.

* 사전(dictionary)를 생성해보겠습니다.

In [1]:
first = {'Python' : '서찬웅', '패스트':'캠퍼스'}

In [2]:
first

{'Python': '서찬웅', '패스트': '캠퍼스'}

* 키 값을 사용하여 데이터를 가져올수 있고 변경할 수도 있습니다.

In [3]:
first['Python'] = 'A'

In [4]:
first

{'Python': 'A', '패스트': '캠퍼스'}

* 이번에는 중복을 넣어서 생성하겠습니다. 
* 아쉽게도 dict은 중복을 허용하지 않습니다. 마지막 value의 값이 입력됩니다.

In [5]:
two = {'Python' : '서찬웅', '패스트':'캠퍼스', 'Python' :'귀도반로썸'}

In [6]:
two

{'Python': '귀도반로썸', '패스트': '캠퍼스'}

* 처음 입력한 값이 마지막에 중복된 값으로 대체된 것을 확인할 수 있습니다.

* 기본 dict에 새로운 데이터를 입력하겠습니다.

In [7]:
stock_dict = {'삼성전자' : '45300', '엘지전자' : '73900'}

In [8]:
stock_dict

{'삼성전자': '45300', '엘지전자': '73900'}

In [9]:
stock_dict['삼성sds'] = '22400'

In [10]:
stock_dict

{'삼성전자': '45300', '엘지전자': '73900', '삼성sds': '22400'}

* 특정 key 값을 삭제하겠습니다.

In [11]:
del stock_dict['삼성전자']

In [12]:
stock_dict

{'엘지전자': '73900', '삼성sds': '22400'}

* in 키워드를 사용하면 dict에 해당 원소가 포함되어 있는지 확인할 수 있습니다.

In [13]:
'엘지전자' in stock_dict

True

In [14]:
'삼성전자' in stock_dict

False

* 이중 dict를 만들어 보겠습니다.

In [15]:
stock_dict2 = {'삼성전자' : {'고가' : 46000, '저가': 45250, '시가' : 45750}, '엘지전자' : {'고가': 74900, '저가': 73600, '시가':74600}}

In [16]:
stock_dict2

{'삼성전자': {'고가': 46000, '저가': 45250, '시가': 45750},
 '엘지전자': {'고가': 74900, '저가': 73600, '시가': 74600}}

* 이중으로 된 dict도 key값을 사용하여 데이터 접근하면 됩니다.

In [19]:
stock_dict2['엘지전자']['시가']

74600

* keys(), values(), items() 메소드 사용하기
    > 아래 예제를 실행하고 차이점을 살펴보기 바랍니다.

In [24]:
stock_dict2.keys()

dict_keys(['삼성전자', '엘지전자'])

In [25]:
stock_dict2.values()

dict_values([{'고가': 46000, '저가': 45250, '시가': 45750}, {'고가': 74900, '저가': 73600, '시가': 74600}])

In [26]:
stock_dict2.items()

dict_items([('삼성전자', {'고가': 46000, '저가': 45250, '시가': 45750}), ('엘지전자', {'고가': 74900, '저가': 73600, '시가': 74600})])

* items() 메소드를 사용해서 데이터를 출력하겠습니다.

In [27]:
for key, value in stock_dict2.items():
    print ("{} 주식현황 ".format(key))
    for key2, value2 in value.items():
        print ("{} = {}".format(key2, value2))

삼성전자 주식현황
고가 = 46000
저가 = 45250
시가 = 45750
엘지전자 주식현황
고가 = 74900
저가 = 73600
시가 = 74600

* dict를 key와 value 순으로 정렬해 보겠습니다.

In [28]:
dict_sorted = {'f' : 10, 'b' : 5, 'a' : 15, 'd' : 1}

* 아직 lambda 함수를 배우지 않았지만, 함수 부분에서 공부하게 될 것입니다. 
* sorted() 함수의 key 인자에 함수를 전달하면 해당 리턴값을 기준으로 정렬이 됩니다. 
* dict_sorted의 value값들은 숫자로 되어 있고 그 숫자를 리턴하고 그걸 정렬합니다.

In [30]:
sorted(dict_sorted, key=lambda x : dict_sorted[x])

['d', 'b', 'f', 'a']

* 아래는 키 값으로 정렬합니다.

In [32]:
sorted(dict_sorted, key = lambda x : x)

['a', 'b', 'd', 'f']

* 이중으로 된 dict의 정렬에 대해서 살펴보겠습니다.

In [33]:
stock_dict3 = {'삼성전자' : {'고가' : 46000, '저가':  45250, '시가' : 45750},
               '엘지화학' : {'고가' : 371000,'저가' : 366500,'시가' : 370000},
              'SK텔레콤' : {'고가' : 245000, '저가' : 243000, '시가': 244000},
               '엘지전자' : {'고가': 74900, '저가': 73600, '시가': 74600}}

* stock_dict3의 value의 시가 중심으로 정렬을 하겠습니다.

In [34]:
sorted(stock_dict3, key = lambda y : (stock_dict3[y]['시가']))

['삼성전자', '엘지전자', 'SK텔레콤', '엘지화학']

* 고가 입니다.

In [35]:
sorted(stock_dict3, key = lambda y : (stock_dict3[y]['고가']))

['삼성전자', '엘지전자', 'SK텔레콤', '엘지화학']

* key 중심으로..

In [37]:
sorted(stock_dict3, key = lambda x : x)

['SK텔레콤', '삼성전자', '엘지전자', '엘지화학']

* dict comprehension을 지원합니다. 해당 값 문법을 이용하여 key와 value를 바꿔보았습니다.

In [39]:
{w:k for k,w in [(1,'one'), (2, 'two'), (3,'three')]}

{'one': 1, 'two': 2, 'three': 3}

In [40]:
{k:w for k,w in [(1,'one'), (2, 'two'), (3,'three')]}

{1: 'one', 2: 'two', 3: 'three'}

# set(집합)
* set은 수학적으로 사전하고 동일합니다. 
* 중복을 허용하지 않고, index를 지원하지 않습니다.
* 빈 set를 생성할 때 set = {} 이렇게 선언하면 파이썬 인터프리터가 사전으로 인식합니다. 
    > set_name = set()

In [41]:
a = {1,1,1,1,5,6,2,4,4,2,4,4,3,2,2,2,2,2,3,3,3,3,3}
a

{1, 2, 3, 4, 5, 6}

In [42]:
a[1]

TypeError: 'set' object does not support indexing

## set의 집합 기능을 살펴보겠습니다.

In [48]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
C = {4, 10}

* A 합집합 B

In [49]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

* A 교집합 B

In [53]:
A.intersection(B)

{4, 5, 6}

* A 교집합 B, C

In [52]:
A.intersection(B, C)

{4}

* A 차집합 B

In [54]:
A.symmetric_difference(B)

{1, 2, 3, 7, 8, 9}

**중복된 값이 있는 list에서 중복을 제거하는 방법**

    리스트의 값에 중복된 값을 제거하고 싶다면 아래와 같이 set의 힘을 빌리시면 됩니다.

In [43]:
a = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,4,4,4,4,4,4,5,5,5,6,3,4,5,5,3,3,4,5,7,7,7]

In [44]:
set(a)

{1, 2, 3, 4, 5, 6, 7}

In [45]:
list(set(a))

[1, 2, 3, 4, 5, 6, 7]